# Settings for X-Plane 12
XPLANE_IP=127.0.0.1
XPLANE_PORT=49000
# MCDU_TYPE: 1 for airline commander MCDU, 2 for second pilot MCDU, 3 for central console MCDU 
MCDU_TYPE=1

# Arduino settings
ARDUINO_RX_PIN=20
ARDUINO_BAUDRATE=9600
