# Settings for X-Plane 12
XPLANE_IP=127.0.0.1
XPLANE_PORT=49000
# MCDU_TYPE: 1 for airline commander MCDU, 2 for second pilot MCDU, 3 for central console MCDU 
MCDU_TYPE=1

# Arduino settings
# ARDUINO_SERIAL_PORT set automatically during run init/init.py script.
# Or you can set link manually if u know the serial id of your device.
ARDUINO_BAUDRATE=9600
ARDUINO_SERIAL_TIMEOUT=1
